<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__left">
                <a href="#" class="footer__logo">
                    <img loading="lazy" src="img/logo.webp" alt="">
                </a>
                <div data-da=".footer__right, 992, last" class="footer__bottom">
                    <a href="#">Политика конфиденциальности</a>
                    <div class="footer__copy">© Русинтекс 2025 Все права защищены</div>
                </div>
            </div>
            <div class="footer__center">
                <ul>
                    <li>
                        <a href="#">Фото и видео</a>
                    </li>
                    <li>
                        <a href="#">Как заказать</a>
                    </li>
                    <li>
                        <a href="#">Гарантия и сервис</a>
                    </li>
                    <li>
                        <a href="#">О нас</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Новости</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                    <li>
                        <a href="#">Связаться с нами</a>
                    </li>
                    <li>
                        <a href="#">Часто задаваемые вопросы</a>
                    </li>
                </ul>
            </div>
            <div class="footer__right">
                <div class="contacts">
                    <a href="tel:88007707344" class="contacts__contact">
                        8 800 <span>770-73-44</span>
                    </a>
                    <a href="mailto:support@Rusintex.ru" class="contacts__call">
                        <img src="img/icon/arrow1.svg" alt="">
                        <span>support@Rusintex.ru</span>
                    </a>
                </div>
                <div class="footer__socials">
                    <a href="#">
                        <img loading="lazy" src="img/icon/vk.svg" alt="">
                    </a>
                    <a href="#">
                        <img loading="lazy" src="img/icon/telegramm.svg" alt="">
                    </a>
                    <a href="#">
                        <img loading="lazy" src="img/icon/rutube.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>