<header data-lp class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__top">
        <button type="button" class="icon-menu"><span></span></button>
        <a href="#" class="header__logo">
          <img src="img/logo.webp" alt="">
        </a>
        <a href="#" data-popup="#call" class="header__phone">
          <img src="img/icon/phone.svg" alt="">
        </a>
      </div>
      <div class="header__body">
        <div class="catalog-header">
          <div class="catalog-header__button">
            <div class="catalog-header__icon">
              <span></span>
            </div>
            <div class="catalog-header__text">Каталог</div>
            <img src="img/icon/arrow3.svg" alt="">
          </div>
          <div class="catalog-header__body">
            <ul>
              <li>
                <a href="#">
                  <span>Погрузчики</span>
                  <img src="img/icon/arrow1.svg" alt="">
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Навесное</span>
                  <img src="img/icon/arrow1.svg" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header__menu">
          <ul>
            <li>
              <a href="#">Фото и видео</a>
            </li>
            <li>
              <a href="#">Как заказать</a>
            </li>
            <li>
              <a href="#">Гарантия и сервис</a>
            </li>
            <li>
              <a href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <div data-da=".header__menu, 1200, first" class="contacts">
        <a href="tel:88007707344" class="contacts__contact">
          8 800 <span>770-73-44</span>
        </a>
        <a href="#" data-popup="#call" class="contacts__call">
          <img src="img/icon/arrow1.svg" alt="">
          <span>Заказать звонок</span>
        </a>
      </div>
    </div>
  </div>
</header>